<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>Main page whith menu</title>
</head>
<body>

<div id = "pageContent">
    <nav>
        <div class = "grid_menu">
        <!-- mouseover click -->
        <div v-for="(item, index) in menuItems"
             @click.stop = "selectSubMenu(index)"
            :class="[{active: item.flag}, 'menu'+index]">{{item.title}}
        </div>
<!--  <main-menu
            v-for="(item, index) in menuItems"
            @mouseover = "selectSubMenu(index)"
            :class="[{active: item.flag}, 'menu'+index]">{{item.title}}
>{{menuItems}}</main-menu> 
 -->
        <template v-for="(item, index) in menuItems">
            <div v-for = "(it, ind) in item.subMenu"
                 v-if="item.flag"
                 :class = "'subMenu' + 1 + ind"
                 @click = "currentPageName(it.ref)">
                <span class="item"
                      :class = "{errors: !it.ref}"
                >{{it.name}}
                </span>
            </div>
        </template>
        </div>
    </nav>
    <component v-bind:is = "currentPageComponent" class="page"></component>
</div>

<script src = "vue.js"></script>
<script src = "jquery.min.js"></script>
<script src = "main.js"></script>

</body>
</html>