<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>menu configurator</title>
</head>
<body>

<nav >
    <div id="mainMenu" class="grid_container">

        <div v-for="(item, index) in menuItems" @mouseover="selectSubMenu(index)" :class="[{active: item.flag}, mainMenuClass(index)]">{{item.title}}
        </div>

        <template v-for="(item, index) in menuItems" v-if="item.flag">
        <div v-for = "(it, ind) in item.subMenu"
             :class = "subMenuClass(ind)"
        ><a class="item" :href="`${item.hrefItem[ind]}`">{{it}}</a>
        </div>
        </template>

    </div>
</nav>

<script src = "vue.js"></script>
<script src = "main.js"></script> 

</body>
</html>