.grid_main_menu,
.grid_sub_menu,
.grid_tab_page {
    width: 90%;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
}

.grid_main_menu>div,
.grid_main_menu a,
.grid_sub_menu>div,
.grid_sub_menu a {
    color: #595959;
    font-size: 16pt;
    line-height: 40pt;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

div[class^="menu"] {
    background-color: white;
}

div[class^="subMenu"] {
    background-color: #F2F2F2;
}

.active {
    background-color: #FBE4D4;
    font-weight: bold;
}

.grid_main_menu {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "main-1 main-2 main-3 main-4";
}

.grid_sub_menu {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "subMenu-5 subMenu-6 subMenu-7 subMenu-8" "subMenu-9 subMenu-10 subMenu-11 subMenu-12";
}

.main0 {
    grid-area: main-1;
}

.main1 {
    grid-area: main-2;
}

.main2 {
    grid-area: main-3;
}

.main3 {
    grid-area: main-4;
}

.subMenu10 {
    grid-area: subMenu-5;
}

.subMenu11 {
    grid-area: subMenu-6;
}

.subMenu12 {
    grid-area: subMenu-7;
}

.subMenu13 {
    grid-area: subMenu-8;
}

.subMenu14 {
    grid-area: subMenu-9;
}

.subMenu15 {
    grid-area: subMenu-10;
}

.subMenu16 {
    grid-area: subMenu-11;
}

.subMenu17 {
    grid-area: subMenu-12;
    /* 568235 */
}

.page {
    max-width: 860px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px 10px 50px;
    background-color: lightgray;
    font-size: 13pt;
    text-align: center;
    border: 2px solid gray;
    border-radius: 8px;
}

.page>p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.errors {
    color: red;
}