nav {
    background-color: #f8f8f8;
}
* {
    font-size: 14pt;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

li ul {
    position: absolute;
    display: none;
    margin-left: 165px;
    margin-top: -2em;
}

li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #666;
    /*
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    */
    border-bottom: none;
}

li a:hover {
    color: #ffe;
    background-color: #5488af;
    transition: 1s;
}

li:hover>ul {
    display: block;
}

.dropdown-menu {
    top: 30px;
    left: 0;
}

.tab_to_switch_search {
    order: 4;
    flex: 0 0 20rem;
    right: -30px;
    height: 100%;
    top: 10px;
}

.searchdiv_inner {
    top: -20px;
}

.search-panel {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

.rslids img {
    height: 100%;
}

.rslids div {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    height: 100%;
}

.rslids div.rcont {
    width: 28%;
}

.racont2 {
    right: 80px;
}

.racont1 {
    right: 30px;
}

.rlib_outer {
    top: 0px !important;
    width: 92% !important;
}

#top_menu {
    top: -6rem;
}

#top_info {
    width: 82vw;
}

.basescontainer {
    text-align: left;
    top: -62px;
}

.searchdiv {
    display: flex;
    flex-flow: row nowrap;
    top: 20px;
    width: 90%;
    margin: 0 auto;
}

.bases_div {
    order: 0;
    flex: 0 0 20rem;
    left: 20px;
}

.searchdiv_outer {
    order: 1;
    flex: 1 1 auto;
}

.options2 {
    top: -20px;
}

.tab_to_switch_search span.discovery {
    padding-left: 6px;
}

body span.discovery {
    background-color: gray;
}

body.sheet_search_search_php span.discovery {
    background-color: #900;
}

.searchdiv {
    box-shadow: none;
}

.tab_to_switch_search {
    box-shadow: none;
    background: none;
}